body {
    font-family: Arial;
    background-image: url('images/NYC.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-right: 2px;
}